:root {
    /* --background: rgba(85,110,170,.9); */
    --color-logo : navy ;
    --color-text : blue ;
    --color-text-light : #cfcfcf ;
    --color-text-dark : #116466 ;
    --background : rgba(85, 214,170,.85);
    --text-accent : rgb(120,100,125) ;
    --hcolor : #aa35aa ;
    --tshadow : 0 4px 8px rgba(0,0,0,.4) ;
}

body {
    margin:0 ;
    padding: 0px ;
    box-sizing: border-box ;
    background: var(--background);
    background-image : url("https://source.unsplash.com/1200x1200/?iceland?summer") ;
    background-size: cover ;
    background-repeat: no-repeat;

    font-family : sans-serif ;
    
}

header {
    background : var(--background);
    position : fixed ;
    top: 0;
    left: 0;
    margin-left: 0px  ;
    text-align: center ;
    width: 100% ;
    z-index: 999 ;
    padding: 15px ;
    color : var(--color-text);
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
}

h1 {
    text-align: center ;
}

.main-content {
    display:flex ;
    justify-content: space-evenly;
    flex-wrap: wrap ;
    margin-top: 200px ;
    
}



.tiles {

    flex-basis: 40% ;
    background : orange ;
    padding : 25px ;
    border-radius : 15px ;
    height: 250px ;
    margin : 10px 40px 10px 0px ;
    font-size: 1.8rem ;
    

}

.navbar ul {
    list-style: none ;
    margin: 0 ;
    padding: 0 ;
    display: flex ;
    justify-content : space-apart ;

}


.navbar-links ul li a {

    padding : 1.2rem ;
    font-size : 1.2rem ;
    color: var(--color-text) ;
    text-decoration: none ;
    display: block ;

}


.navbar-links li:hover, .navbar-links li:focus{
    text-decoration: none ;
    color: var(--color-text-dark) ;
    background-color: dodgerblue ;
    border-radius:5px ;
}

.navbar-links li a:hover { 
    text-decoration: none ;
    color: white ;
    background-color: dodgerblue ;
    border-radius:5px ;
}

.navbar-links li a:focus {
    background-color : lightgreen ;
}



.tiles h2{
    background-color: rgba(0,0,0,.8) ;
    text-align: center ;
    width: 35% ;
    font-size: 1.4rem ;
    padding: .2rem ;
    margin: 0px 0px ;
    border-radius:15px ;
}

.hike-tile {
    background-image : url("https://source.unsplash.com/400x400/?iceland?hiking") ;
    background-position: center ;
    background-size : cover ;
    text-shadow : 0px 4px 8px rgba(255,255,255,1.);
    color: white ;
}


.itinerary-tile {
    background-image : url("https://source.unsplash.com/400x400/?iceland?towns") ;
    background-position: center ;
    background-size : cover ;
    text-shadow : 0px 4px 8px rgba(255,255,255,1.);
    color: white ;
}

.activities-tile {
    background-image : url("https://source.unsplash.com/400x400/?iceland?recreation") ;
    background-position: center ;
    background-size : cover ;
    text-shadow : 0px 4px 8px rgba(255,255,255,1.);
    color: white ;
}

.weather-select * {
    height: 1.5rem ;
}

.weather-tile {
    background-image : url("https://source.unsplash.com/400x400/?iceland?night?sky") ;
    background-position: center ;
    background-size : cover ; 
    text-shadow : 0px 4px 8px rgba(255,255,255,1.);
    color: yellow;
    font-size: 1.3rem ;
}

.weather-item {
    display: flex ;
    justify-content: space-between ;
}


.mapdiv {
    width: 80% ;
    height:500px ;
}


.content-table {
    border-collapse :collapse ;
    margin: 50px  ;
    font-size: 0.9rem ;
    /* min-width: 450px ; */
    border-radius: 5px 5px 0 0 ;
    overflow: hidden ;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    align-self: center ;
    
}

.content-table thead tr {
    
    background-color: #00cf68 ;
    color: white ;
    text-align: left ;
    font-weight: bold ;
}

.content-table tbody th, 
.content-table tbody td
 {

    padding: 12px 15px ;


}

.content-table tbody tr {
    border-bottom : 1px solid #dddddd ;
    background-color: white ;
    color: black ;
}

.content-table tbody tr.active:nth-of-type(odd) {
    background-color: #ffaa00 ;
    color: yellow;
}
.content-table tbody tr.active:nth-of-type(even) {
    background-color: #ffaa00 ;
    color: yellow;
}



.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}


.content-table tbody tr:last-of-type{
    border-bottom: 4px solid #009879 ;
}
